
/*
SELECT 
	 bm_uid
	,bm_rubrique
	,bm_language
	,bm_secs
	,bm_kb
	,bm_gz
	,bm_cpu
	,bm_percent
	,bm_failed
	,bm_bad_output
	,bm_no_program
	,bm_no_programs
FROM t_benchmark 
*/


CREATE TABLE dbo.t_benchmark 
( 
	 bm_uid uniqueidentifier NOT NULL 
	,bm_rubrique nvarchar(200) NULL 
	,bm_language nvarchar(200) NULL 
	,bm_secs float NULL 
	,bm_kb float NULL 
	,bm_gz float NULL 
	,bm_cpu float NULL 
	,bm_percent nvarchar(200) NULL 
	,bm_failed bit NULL 
	,bm_bad_output bit NULL 
	,bm_no_program bit NULL 
	,bm_no_programs bit NULL 
	,CONSTRAINT PK_t_benchmark PRIMARY KEY CLUSTERED ( bm_uid ) 
); 


DELETE FROM t_benchmark
INSERT INTO t_benchmark(bm_uid, bm_rubrique, bm_language, bm_secs, bm_kb, bm_gz, bm_cpu, bm_percent, bm_failed, bm_bad_output, bm_no_program, bm_no_programs) VALUES (N'e6a26b9e-9120-4e52-abd2-00b07fb04b77', N'fannkuch-redux', N'Java', 17.41, 33032, 1282, 68.64, N'98% 98% 99% 99%', NULL, NULL, NULL, NULL);
INSERT INTO t_benchmark(bm_uid, bm_rubrique, bm_language, bm_secs, bm_kb, bm_gz, bm_cpu, bm_percent, bm_failed, bm_bad_output, bm_no_program, bm_no_programs) VALUES (N'd2e1a512-93fe-4353-b1e2-019226f56b7c', N'fannkuch-redux', N'Erlang HiPE', 119.29, 20340, 1038, 470.74, N'100% 99% 98% 99%', NULL, NULL, NULL, NULL);
INSERT INTO t_benchmark(bm_uid, bm_rubrique, bm_language, bm_secs, bm_kb, bm_gz, bm_cpu, bm_percent, bm_failed, bm_bad_output, bm_no_program, bm_no_programs) VALUES (N'7d7f2d91-3929-48b6-9785-01b8a6c738c6', N'fasta', N'JavaScript V8', 25.64, 43068, 956, 25.61, N'1% 100% 0% 1%', NULL, NULL, NULL, NULL);
